@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    background-color: #4caf50;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Monoton', sans-serif;
}

#logo {
    float: left;
    font-size: 180%;
    margin-left: 30px;
}

#menu {
    font-size: 90%;
    font-weight: 600;
    letter-spacing: 5px;
    line-height: 50px;
    padding-top: 20px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    background-color: #4caf50;
}

#menu a:hover {
    border-bottom: solid;
}

#homepage-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#homepage-image {
    height: 600px;
    width: 100%;
    background: url('../images/homepage_image.jpg') no-repeat center center;
}

#homepage_about {
    height: 60px;
}

#homepage_question {
    font-size: 180%;
    text-align-last: center;
    width: 50%;
    margin: 0 auto;
    padding: 30px 0 30px 0;
}

.homepage_text {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding-top: 60px;
}

hr {
    border-top: 1px solid white;
    width: 20%;
    margin: 5px 0 10px;
}

#food_drink_image {
    height: 300px;
    width: 300px;
    max-width: 30%;
    background: url('../images/stock_food_image.jpg') no-repeat center center;
    display: inline-block;
    margin-right: 10%;
    margin-left: 5%;
    margin-bottom: 15px;
    border-radius: 50%;
}

#place_stay_image {
    height: 300px;
    width: 300px;
    max-width: 30%;
    background: url('../images/hotel_room.jpg') no-repeat center center;
    display: inline-block;
    margin-right: 10%;
    margin-left: 5%;
    margin-bottom: 15px;
    border-radius: 50%;
}

#family_fun_image {
    height: 300px;
    width: 300px;
    max-width: 30%;
    background: url('../images/family_fun.jpg') no-repeat center center;
    display: inline-block;
    margin-right: 10%;
    border-radius: 50%;
    margin-left: 5%;
    margin-bottom: 15px;
}

footer {
    height: 100px;
    background-color: white;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
    background-color: white;
}

.social-media i{
    font-size: 130%;
    margin: 0;
    padding: 2%;
    color: #3a3a3a;
}

