@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #373737;
    background-color: #81c784
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Monoton', sans-serif;
}

#logo {
    float: left;
    font-size: 180%;
    margin-left: 30px;
}

#menu {
    font-size: 90%;
    letter-spacing: 4px;
    line-height: 50px;
    padding-top: 15px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    background-color: #81c784
}

#menu a:hover {
    border-bottom: solid;
}

#homepage-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#homepage-image {
    height: 600px;
    width: 100%;
    background: url('../images/homepage_image.jpg') no-repeat center center;
}
