@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: black;
    background-color: #343a40;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Monoton', sans-serif;
}

h2 {
    color: white;
    margin-left: 40%;
    padding: 1rem 0;
}

#homepage-outer {
    height: 37.5rem;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#homepage-image {
    height: 37.5rem;
    width: 100%;
    background: url('../images/homepage_image.jpg') no-repeat center center;
}

#homepage_about {
    height: 4rem;
}

#homepage_question {
    font-size: 180%;
    text-align-last: center;
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0 32rem 0;
}

.homepage_text {
    display: inline-block;
    width: 60%;
    vertical-align: top;
    padding-top: 3.75rem;
}

hr {
    border-top: 1px solid white;
    width: 100%;
    margin: .33rem 0 .7rem;
}

footer {
    height: 6.25rem;
    background-color: white;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
    background-color: white;
}

.social-media i{
    font-size: 130%;
    margin: 0;
    padding: 2%;
    color: #3a3a3a;
}

.circle_images {
    height: 18.75rem;
    width: 18.75rem;
    border-radius: 50%;
    overflow: hidden;
    }